<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/verify.css">
    <title>Title</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/verify.min.js"></script>
    <style>
        #aa{
            margin-top: 300px;
            position: absolute;
        }
    </style>
</head>
<body>
<h2>用户登录</h2>
<div id="aa">
    <div id="mpanel1" >
    </div>
</div>

<!--&lt;!&ndash;确定的按钮，id名称在初始化时使用&ndash;&gt;-->
<!--<button id="check-btn" class="verify-btn">确定</button>-->

<form action="/user/login" method="post" id="form11">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"></td>
        </tr>
        <!--<tr>-->
            <!--<td colspan="2">-->
                <!--<input type="submit" value="登录">-->
            <!--</td>-->
        <!--</tr>-->
    </table>
</form>
<script>
    $('#mpanel1').slideVerify({
        type : 2,
        mode : 'pop',
        vOffset : 5,
        vSpace : 5,
        explain : '向右滑动完成验证自动登录',
        imgUrl : '/static/images/',
        imgName : ['1.jpg', '2.jpg'],
        imgSize : {
            width: '240px',
            height: '240px',
        },
        blockSize : {
            width: '40px',
            height: '40px',
        },
        barSize : {
            width: '400px',
            height : '40px',
        },
        ready : function() {
        },
        success : function() {
            alert('验证匹配！自动登录！');
            document.forms[0].submit()
        },
        error : function() {
            alert('验证码不匹配！');
        }

    });
</script>
</body>
</html>