<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Expand, contract, animate forms with jQuery wihtout leaving the page" />
    <meta name="keywords" content="expand, form, css3, jquery, animate, width, height, adapt, unobtrusive javascript"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/verify.css">
    <script type="text/javascript">
        Cufon.replace('h1',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h2',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h3',{ textShadow: '1px 1px #000'});
        Cufon.replace('.back');
    </script>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div id="form_wrapper" class="form_wrapper">
            <form action="/user/login" method="post" id="form11" class="login active">
                <h3>Login</h3>
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" />
                </div>
                <div>
                    <label>Password: </label>
                    <input type="password" name="password" />
                </div>
                <div id="mpanel2" >
                    <label>验证码: </label>
                </div>
                <div class="bottom">
                    <input id="check-btn" class="verify-btn" type="submit" value="Login"></input>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/verify.min.js"></script>
<!-- The JavaScript -->
<script>
    $('#mpanel2').codeVerify({
        type : 1,
        width : '400px',
        height : '50px',
        fontSize : '30px',
        codeLength : 6,
        btnId : 'check-btn',
        ready : function() {
        },
        success : function() {
            // alert('验证匹配！');
            document.forms[0].submit()
        },
        error : function() {
            alert('验证码不匹配！');
        }
    });
</script>
</body>
</html>